{% assign productsingle = product.metafields.productsingle %}
{% assign key = 'subscriptiondiscount' %}

{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-third medium--one-half small--one-half' %}
{% endunless %}


<div class="grid__item grid-item-subscribe {{ grid_item_width }}">
  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
  <p class="h6">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  
  <p class="price">
    {% if product.metafields.productsingle.subscriptiondiscount %}
    <span class="from"> From {{ productsingle.subscriptiondiscount}}</span> 
    {% endif %}
    <span class="cross-out">  {{ product.price | money }} </span>
  </p>


  <a href="{{ product.url | within: collection }}" class="btn subscribe-btn">Subscribe</a>

  </div> <!-- grid__item -->