<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
<!-- 	<script type="text/javascript">
		(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/1D6J3JNFBayTYLntWkuuOcM7fuwSDSPlobBebVF9/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script> -->
	<meta name="google-site-verification" content="hzXZdGe3kTTIXdviBUY7T12VT7ZQzE_0EN86uKIKDqc" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if search.performed %}
	<!-- A search page -->
	<meta name="robots" content="noindex">
	{% endif %}

	{% if settings.favicon_enable %}
	<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
	{% endif %}

	<!-- Title and description ================================================== -->
	<title>
		{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}
	<!-- Helpers ================================================== -->
	{% include 'social-meta-tags' %}
	{% if template contains 'collection' and current_tags %}
	<link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
	{% else %}
	<link rel="canonical" href="{{ canonical_url }}" />
	{% endif %}
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="theme-color" content="{{ settings.color_primary }}">

	<link rel="stylesheet" type="text/css" href="//grainandmortar-public-bucket.s3.amazonaws.com/Eric/matcha/style.css">
	<link rel="stylesheet" type="text/css" href="//grainandmortar-public-bucket.s3.amazonaws.com/Eric/matcha/format.css"> 
	
	{% comment %}
		{{ 'style.css' | asset_url | stylesheet_tag }}
		{{ 'format.css' | asset_url | stylesheet_tag }}
		{% endcomment %}

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		{{ '//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Crimson+Text:400,400i,600,600i,700,700i|Montserrat:400,500,600,700|Pathway+Gothic+One' | stylesheet_tag }}
		{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' | stylesheet_tag }}
		{{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css' | stylesheet_tag }}

		{{ content_for_header }}
		{% include 'oldIE-js' %}
		{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
		{{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' | script_tag }}
		{{ 'modernizr.min.js' | asset_url | script_tag }}

		{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
		{% endif %}

		
		<meta name="google-site-verification" content="SH83p1jVehwCES_4dW94ZoDZpeDmbTo5YlsxyhQB2is" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
		<link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
		<link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
		<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

		{% include 'membership-header' %}
		{% if page.handle == 'membership' or template == 'index' %}
		{% endif %}

		<div class="msgOverlay">
			<div class="msgText">
				<h5 id="msg"></h5> 
				<span class="added">has been added to your cart.</span>
				<a href="/cart" class="cart-button"> &nbsp;&nbsp;&nbsp;Go to Cart <span class="arrow">&raquo;</span></a>
			</div>
			<div class="msgOverlayClose"></div>
		</div>

		<!-- START » Left Side Mobile Menu ================================================== -->
		<div id="NavDrawer" class="drawer drawer--left">
			<div class="drawer__header">
				<div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
				<div class="drawer__close js-drawer-close">
					<button type="button" class="icon-fallback-text">
						<span class="icon icon-x" aria-hidden="true"></span>
						<span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
					</button>
				</div>
			</div>
			{% include 'mobile-nav' %}
		</div><!-- NavDrawer -->
		<!-- END » Left Side Mobile Menu ================================================== -->

		<!-- START » Right Side Cart Drawer ================================================== -->
		{% if settings.ajax_cart_method == "drawer" %}
		<div id="CartDrawer" class="drawer drawer--right">
			<div class="drawer__header">
				<div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
				<div class="drawer__close js-drawer-close">
					<button type="button" class="icon-fallback-text">
						<span class="icon icon-x" aria-hidden="true"></span>
						<span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
					</button>
				</div>
			</div>
			<div id="CartContainer"></div>
		</div>
		{% endif %}
		<!-- END » Right Side Cart Drawer ================================================== -->

		<div id="PageContainer" class="is-moved-by-drawer">
			<header class="site-header" role="banner">
				<!-- START » Logo Holder ================================================== -->
			</header>

			<!-- Start » Desktop Navigation ================================================== -->
			{% if settings.shipping_enable %}
			<div class="wrapper-full section-shipping">
				<div class="wrapper">
					<div class="column100 column-center">
						<p>{{ settings.shipping_text_title }}</p>
					</div><!-- column100 -->
				</div><!-- content -->
			</div><!-- wrapper-full -->
			{% endif %}


			{% if settings.header_notification_enable %}
			<div class="wrapper-full section-shipping">
				<div class="wrapper">
					<div class="column100 column-center">
						<p><a href="/{{ settings.header_notification_text_link }}">{{ settings.header_notification_text_title }}</a></p>
					</div><!-- column100 -->
				</div><!-- content -->
			</div><!-- wrapper-full -->
			{% endif %}

			{% if settings.header_holiday_enable %}
			<div class="wrapper-full section-holiday-banner">
				<div class="wrapper">
					<div class="holiday-wrapper">
						<p class="holiday-pathway-gothic"> <span class="holiday-star"></span>Holiday Sale<span class="holiday-star"></span></p>
						<p>{{ settings.header_holiday_text_title }}</p>
						<p><a href="/{{settings.header_holiday_button_link}}" class="holiday-btn"> {{settings.header_holiday_button_text}} </a></p>
					</div> {% comment %}holiday-wrapper{% endcomment %}
				</div><!-- wrapper -->
			</div><!-- wrapper-full -->
			{% endif %}

			<nav class="nav-bar-new" role="navigation">
				<div class="wrapper header-wrapper">
					<div class="medium-down--hide">
						<ul class="site-nav-new" id="AccessibleNav">
							<div class="navmenu-lefthalf">
								<li class="nav-item shop"><a href="/collections/all">Shop</a></li>
								<li class="nav-item"><a href="/pages/membership">Subscribe <span class="save">+ Save</span></a></li> 
								<li class="nav-item lean"><a href="/pages/learn">Learn</a></li>
								<li class="nav-item story"><a href="/pages/our-story">Our Story</a></li>
							</div><!-- navmenu-lefthalf -->
							<div class="navmenu-logoholder">
								<li class="logo">
									<span itemscope itemtype="http://schema.org/Organization">
										<a href="/" itemprop="url">{{ 'logo.png' | asset_url | img_tag: 'Matcha Tea' }}</a></span></li>
									</div><!-- navmenu-logoholder -->
									<div class="navmenu-righthalf">
										<li class="nav-item journal"><a href="/blogs/news">Journal</a></li>    
										<li class="nav-item login">
											{% if customer %}
											{{ 'layout.customer.log_out' | t | customer_logout_link }}
											{% else %}
											{{ 'layout.customer.log_in' | t | customer_login_link }}
											{% endif %}
										</li>
										<li class="nav-item search"><a href="/search"><span class="icon">{{ 'icon-search.svg' | asset_url | img_tag }}</span></a></li>
										<li class="nav-item cart"><a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
											<span class="icon">{{ 'icon-cart.svg' | asset_url | img_tag }}</span> 
											<span id="CartCount">({{ cart.item_count  }})</span>
										</a></li>
									</div><!-- navmenu-lefthalf -->
								</ul> <!-- AccessibleNav -->
							</div><!-- medium-down--hide -->
							<!-- Ends Desktop Navigation ================================================== -->

							<div class="large--hide medium-down--show">
								<div class="grid">
									<div class="column25 section-menu-nav">
										<div class="site-nav--mobile">
											<button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
												<span class="icon icon-hamburger" aria-hidden="true"></span>
												<span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
											</button>
										</div><!-- site-nav--mobile -->
									</div> <!-- column25 section-cart-mobile -->
									<div class="column50 mobile-logo-holder-wrapper">
										<div class="column50 mobile-logo-holder column-center">
											<a href="/" itemprop="url">{{ 'logo.png' | asset_url | img_tag }}</a>
										</div>
									</div>
									<div class="column25 section-cart-nav">
										<div class="site-nav--mobile">
											<a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
												<span class="icon-fallback-text">
													<span class="icon icon-cart" aria-hidden="true"></span>
													<span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
												</span>
											</a>
										</div> <!-- site-nav--mobile -->
									</div> <!-- grid__item one-half text-right -->
								</div> <!--grid -->
							</div> <!-- large--hide medium-down--show -->
						</div> <!--wrapper -->
					</nav>

					<!-- END » Desktop Navigation Bro ================================================== -->
					<main class="main-content" role="main"> {{ content_for_layout }} </main>

					<!-- get footer from Snippets ================================================== -->
					{% include 'footer' %}
				</div> <!-- PageContainer -->

				{{ 'fastclick.min.js' | asset_url | script_tag }}
				{{ 'timber.js' | asset_url | script_tag }}
			{% comment %}
			Template-specific js
			{% endcomment %}
			<script>
				{% if resetPassword %}
				$(function() {
					timber.resetPasswordSuccess();
				});
				{% endif %}
			</script>

			{% comment %}
			Ajaxify your cart with this plugin.
			Documentation:
			- http://shopify.com/timber#ajax-cart
			{% endcomment %}
			{% if settings.ajax_cart_method == "drawer" %}
			{{ 'handlebars.min.js' | asset_url | script_tag }}
			{% include 'ajax-cart-template' %}
			{{ 'ajax-cart.js' | asset_url | script_tag }}
			<script>
				jQuery(function($) {
					ajaxCart.init({
						formSelector: '#AddToCartForm',
						cartContainer: '#CartContainer',
						addToCartSelector: '#AddToCart',
						cartCountSelector: '#CartCount',
						cartCostSelector: '#CartCost',
						moneyFormat: {{ shop.money_format | json }}
					});
				});

				jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
// Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
timber.RightDrawer.open();
});
</script>
{% endif %}

<!-- Zopim chat from Snippets ================================================== -->
{% comment %}
{% include 'zopim' %}
{% endcomment %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583f55f170db217c"></script> 

{{ 'shop.js'  | asset_url | script_tag }}
<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->


{% comment %}
--------------------------------------------------------------------------------------------------
Add an agree to terms and conditions checkbox
Code on the outside of script is to verify that the content in the cart is a subscription producut first
https://help.shopify.com/themes/customization/cart/add-terms-and-conditions-checkbox#add-the-checkbox-to-the-cart-page
--------------------------------------------------------------------------------------------------
{% endcomment %}
{% for item in cart.items %}
{% if item.product.type == 'Tea Subscription' %}
{% if forloop.first %}
<script>
	$('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
		if ($('#agree').is(':checked')) {
			$(this).submit();
		}
		else {
			alert("To checkout, you must agree with the subscription terms.");
			return false;
		}
	});
</script>
{% endif %}
{% endif %}
{% endfor %}

</body>
</html>